<div class="form">
    <div class = "center"><h1>Lançar Cartão Ponto</h1></div>
    <div *ngIf="error || success" class = "msg-container">
        <div *ngFor="let e of lstErrors" class = "error-msg">
            {{ e }} 
        </div>
        <div *ngFor="let s of lstSuccess" class = "success-msg">
            {{ s }}
        </div>
    </div>
    

    <form [formGroup]="form" class="pagina">
        <label for="rg">RG</label>
        <div class="input-group mb-3">
            <input 
                type="text" 
                name="rg" 
                id="rg" 
                class="form-control" 
                formControlName="rg">

            <div class="input-group-append">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="pesquisar()">Pesquisar</button>
                </div>
            </div>
        </div>

        <span *ngIf="errorFind" class="error-color">
            Funcionário não encontrado!
        </span>

        
        <div *ngIf="valido">
            <h3>Cartão Ponto</h3>
            <div class="container-btn-extra">
                <a class="a-extra add" (click)="addCartaoPonto()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
            
            <div formArrayName="lstCartaoPonto">
                <div *ngFor="let e of lstCartaoPonto; let i = index" [formGroupName]="i">
                    <a class="a-extra remove" (click)="removeCartaoPonto(i)">
                        <i class="fa fa-times"></i>
                    </a>
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input 
                            type="date" 
                            name="date" 
                            id="data" 
                            class="form-control" 
                            formControlName="data">
                    </div>
                    
                    <div class="form-group inline">
                        <div class="form-m margin-r">
                            <label for="horarioInic">Horário Entrada</label>
                            <input 
                                type="text" 
                                name="horarioInic" 
                                id="horarioInic" 
                                class="form-control" 
                                formControlName="horarioInic">
                        </div>
                    
                        <div class="form-m margin-l">
                            <label for="horarioFim">Horário Saída</label>
                            <input
                            type="text" 
                            name="horarioFim" 
                            id="horarioFim" 
                            class="form-control" 
                            formControlName="horarioFim">
                        </div>
                    </div>

                    
                </div>
                
            </div>
        </div>


        <div class="div-espaco-btn"></div>

        <div class="container-btn-prox">
            <button 
            type="submit" 
            class="btn-prox"
            (click)="salvar()"
            [disabled]="!form.valid">Salvar</button>
        </div>
    </form>
</div>
