<div class="form">
    <h1 class="center">Cadastrar Responsável</h1>
    <div *ngIf="error || success" class="msg-container">
        <div *ngFor="let e of lstErrors" class="error-msg">
            {{ e }}
        </div>
        <div *ngFor="let s of lstSuccess" class="success-msg">
            {{ s }}
        </div>
    </div>

    <form [formGroup]="form" class="pagina">
        <h2>Dados Pessoais</h2>

        <div class="form-group">
            <label for="nome">Nome</label>
            <input 
            type="text" 
            name="nome" 
            id="nome" 
            class="form-control" 
            formControlName="nome">
        </div>

        <div class="form-group inline">
            <div class="form-m margin-r">
                <label for="rg">RG</label>
                <input 
                type="text" 
                name="rg" 
                id="rg" 
                class="form-control" 
                formControlName="rg">
            </div>

            <div class="form-m margin-l">
                <label for="cpf">CPF</label>
                <input 
                type="text" 
                name="cpf" 
                id="cpf" 
                class="form-control" 
                formControlName="cpf"
                mask="000.000.000-00">
            </div>
        </div>

        <div class="div-sep" formGroupName="endereco">
            <h2>Endereço</h2>
        
            <label for="cep">CEP</label>
            <div class="input-group mb-3">
                <input 
                type="text" 
                name="cep" 
                id="cep" 
                class="form-control" 
                formControlName="cep"
                (input)="validar()" 
                mask="00000-000">
        
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        (click)="pesquisar()">Pesquisar</button>
                </div>
            </div>
            <span *ngIf="errorCep" class="error-color">
                CEP não é valido, precisa ter 8 caracteres
            </span>
        
            <div *ngIf="contCep">
                <div class="form-group inline">
                    <div class="form-g margin-r">
                        <label for="logradouro">Logradouro</label>
                        <input 
                        type="text" 
                        name="logradouro" 
                        id="logradouro" 
                        class="form-control" 
                        formControlName="logradouro">
                    </div>
        
                    <div class="form-p margin-l">
                        <label for="numero">Número</label>
                        <input 
                        type="text" 
                        name="numero" 
                        id="numero" 
                        class="form-control" 
                        formControlName="numero">
                    </div>
                </div>
        
                <div class="form-group inline">
                    <div class="form-g margin-r">
                        <label for="bairro">Bairro</label>
                        <input 
                        type="text" 
                        name="bairro" 
                        id="bairro" 
                        class="form-control" 
                        formControlName="bairro">
                    </div>
        
                    <div class="form-p margin-l">
                        <label for="uf">Estado</label>
                        <input 
                        type="text" 
                        name="uf" 
                        id="uf" 
                        class="form-control" 
                        formControlName="uf"
                        mask="SS">
                    </div>
                </div>
        
                <div class="form-group inline">
                    <div class="form-g margin-r">
                        <label for="complemento">Complemento</label>
                        <input 
                        type="text" 
                        name="complemento" 
                        id="complemento" 
                        class="form-control" 
                        formControlName="complemento">
                    </div>
        
                    <div class="form-p margin-l">
                        <label for="cidade">Cidade</label>
                        <input 
                        type="text" 
                        name="cidade" 
                        id="cidade" 
                        class="form-control" 
                        formControlName="cidade">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="div-sep" formGroupName="contato">
            <h2>Contato</h2>
        
            <div class="form-group inline">
                <div class="form-m margin-r">
                    <label for="celular">Celular</label>
                    <input 
                    type="text" 
                    name="celular" 
                    id="celular" 
                    class="form-control" 
                    formControlName="celular"
                    mask="(00)0 0000-0000">
                </div>
        
                <div class="form-m margin-l">
                    <label for="telefone">Telefone</label>
                    <input 
                    type="text" 
                    name="telefone" 
                    id="telefone" 
                    class="form-control" 
                    formControlName="telefone"
                    mask="(00) 0000-0000">
                </div>
            </div>
        
            <div class="form-group">
                <label for="email">E-mail</label>
                <input 
                type="email" 
                name="email" 
                id="email" 
                class="form-control" 
                formControlName="email">
            </div>
        
        </div>

        <div class="div-espaco-btn"></div>

        <div class="container-btn-prox">
            <button 
            type="submit" 
            class="btn-prox"
            (click)="salvar()"
            [disabled]="!form.valid">Próximo</button>
        </div>
    </form>
</div>
