<div class="form">
    <div class="center">
        <h1>Consultar Entradas de Mercadorias</h1>
    </div>

    <form class="pagina">
        <div *ngIf="success" class="success-msg">
            {{ msgSuccess }}
        </div>

        <div *ngIf="error" class="error-container">
            <span class="error" *ngFor="let e of msgError">
                {{ e.message }}
            </span>
        </div>

        <div *ngIf="vazio">
            Nenhuma entrada encontrada!
        </div>
        <div class="container-consultar">
            <div class="card text-left" *ngFor="let e of lstEntradas">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active">Informações</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> {{ e.data | date: 'mm/yy' }} </h5>

                    <div class="card-text">

                        <!-- Codigo -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Codigo:
                            </div>
                            <div class="card-item-info">
                                {{ e.codigo }}
                            </div>
                        </div>

                        <!-- Data -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Data:
                            </div>
                            <div class="card-item-info">
                                {{ e.data | date: 'dd/MM/yy' }}
                            </div>
                        </div>

                        <!-- Valor Unitário -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Valor Unitário:
                            </div>
                            <div class="card-item-info">
                                {{ e.valorUnit | currency: 'BRL' }}
                            </div>
                        </div>

                        <!-- Quantidade -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Quantidade:
                            </div>
                            <div class="card-item-info">
                                {{ e.quantidade }}
                            </div>
                        </div>

                        <!-- Valor Total -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Valor Total:
                            </div>
                            <div class="card-item-info">
                                {{ e.valorFinal | currency: 'BRL' }}
                            </div>
                        </div>

                        <!-- Produto -->
                        <div class="card-item no-under">
                            <div class="card-item-title">
                                Produto:
                            </div>
                            <div class="card-item-info">
                                {{ e.produto.nome }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>