<div class="form">
    <div class="center">
        <h1>Consultar Responsável</h1>
    </div>

    <form class="pagina">
        <div *ngIf="success" class="success-msg">
            {{ msgSuccess }}
        </div>

        <div *ngIf="error" class="error-container">
            <span class="error" *ngFor="let e of msgError">
                {{ e.message }}
            </span>
        </div>

        <div *ngIf="vazio">
            Nenhum responsável encontrado!
        </div>
        <div class="container-consultar">
            <div class="card text-left" *ngFor="let resp of lstResponsavel">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active">Informações</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> {{ resp.nome }} </h5>

                    <div class="card-text">

                        <!-- Codigo -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Codigo:
                            </div>
                            <div class="card-item-info">
                                {{ resp.codigo }}
                            </div>
                        </div>

                        <!-- Nome -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Nome:
                            </div>
                            <div class="card-item-info">
                                {{ resp.nome }}
                            </div>
                        </div>

                        <!-- RG -->
                        <div class="card-item">
                            <div class="card-item-title">
                                RG:
                            </div>
                            <div class="card-item-info">
                                {{ resp.rg }}
                            </div>
                        </div>

                        <!-- CPF -->
                        <div class="card-item">
                            <div class="card-item-title">
                                CPF:
                            </div>
                            <div class="card-item-info">
                                {{ resp.cpf | mask: '000.000.000-00' }}
                            </div>
                        </div>

                        <!-- Quantidade Alunos -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Quantidade aluno:
                            </div>
                            <div class="card-item-info">
                                {{ resp.qtdAluno }}
                            </div>
                        </div>

                        <!-- Valor Mês -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Valor mês:
                            </div>
                            <div class="card-item-info">
                                {{ resp.valorMes | currency: 'BRL' }}
                            </div>
                        </div>

                        <!-- Data Início -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Data início:
                            </div>
                            <div class="card-item-info">
                                {{ resp.dataInic | date: 'dd/MM/yy' }}
                            </div>
                        </div>

                        <!-- Endereço -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Endereço:
                            </div>
                            <div class="card-item-info">
                                {{ resp.endereco.logradouro }} - {{ resp.endereco.numero }} - {{ resp.endereco.bairro }} /
                                {{ resp.endereco.cidade }} - {{ resp.endereco.uf }}
                            </div>
                        </div>
                        
                        <!-- Celular -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Celular:
                            </div>
                            <div class="card-item-info">
                                {{ resp.contato.celular | mask: '(00) 0 0000-0000' }}
                            </div>
                        </div>
                        
                        <!-- Telefone -->
                        <div class="card-item">
                            <div class="card-item-title">
                                Telefone:
                            </div>
                            <div class="card-item-info">
                                {{ resp.contato.telefone | mask: '(00) 0000-0000' }}
                            </div>
                        </div>
                        
                        <!-- E-mail -->
                        <div class="card-item">
                            <div class="card-item-title">
                                E-mail:
                            </div>
                            <div class="card-item-info">
                                {{ resp.contato.email }}
                            </div>
                        </div>

                        <!-- Estado -->
                        <div class="card-bottom">
                            
                            <button type="button" class="btn-modal" (click)="editar(resp.codigo)">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>